
<div class="recuadro">
  <p class="texto">Green Leaves</p>
</div>
<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="form-group col-sm-6">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" required>
      <div *ngIf="formulario.get('nombre')?.hasError('required')" class="text-danger">
        El nombre es requerido
      </div>
    </div>
    <div class="form-group col-sm-6 ">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" required>
      <div *ngIf="formulario.get('email')?.hasError('email') && !formulario.get('email')?.hasError('required')" class="text-danger">
        El correo electrónico debe tener un formato válido
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label>Teléfono</label>
      <input type="tel" formControlName="telefono" class="form-control" required pattern="[0-9]{10}">
      <div *ngIf="formulario.get('telefono')?.hasError('pattern') && !formulario.get('telefono')?.hasError('required')" class="text-danger">
        El teléfono solo debe de contener números a 10 digitos
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label>Fecha</label>
      <input type="date" formControlName="fecha" class="form-control" required  placeholder="dd-Mmm-yyyy"
      >
      <div *ngIf="formulario.get('fecha')?.hasError('required')" class="text-danger">
        La fecha es requerida
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label>Ciudad y Estado</label>
      <div>
        
        <dx-autocomplete
          [dataSource]="cities2"        
          
          [(value)]="selectedCity"
          
          [minSearchLength]="3"
          required="true"
    validationMessage="La ciudad es requerida"
    
         >
        </dx-autocomplete>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    
  </form>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Alerta</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cerrar')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [innerHTML]="alertMessage">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cerrar')">Cerrar</button>
    </div>
  </ng-template>
  


</div>


